/* This is your custom CSS file */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --heading: 'Montserrat', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}

img{
    width: 100%;
}
ul{
    list-style: none;
}

a{
    text-decoration:none;
    color: black;
}

hr{
    width: 95vw;
    margin: 0 auto;
}

.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #252525;
    color: white;
    padding: 20px 30px;
}

.btn{
    background-color: cyan;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover {
    transform: scale(1.2);
}

.web-name{
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}


.nav-bar ul li{
    list-style-type:none;
    display: inline-block;
    padding: 10px 25px;
}

.nav-bar ul li:hover{
    background: #0e0e0e;
}

.nav-bar ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.nav-bar ul li a:hover{
    text-decoration: underline;
}

.box{
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 30px 0;
    margin-top: 8px;
}

.main{
    padding: 0 2rem;
    line-height: 1.7;
}
.main h2{
    font-size: 2rem;
    font-family: var(--heading);
}

.main button{
    border: none;
    background: #252525;
    padding: 14px 18px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    transition: background 1s ease;
}

.main button a{
    color: #f3f3f3f3;
    transition: color 1s ease;
}
.main button:hover{
    background: white;
}

.main button a:hover{
    color: #0d0a0d;
}

.current-news{
    background: white;
    padding: 20px;
    font-size: 12px;
    margin: 20px 0;
}

.current-news h3{
    padding: 6px;
    cursor: pointer;
    position: relative;
}

.current-news h3:hover::before{
    content: ">> ";
    position: absolute;
    left: -12px;
}

.current-news span{
    display: block;
    font-family: var(--heading);
    font-weight: 300;
    text-transform: uppercase;
}

.hot-topic{
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 12px;
    height: 300px;
}

.hot-topic img{
    display: block;
}

.hot-topic-content{
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    padding: 10px 20px;
    line-height: 1.3;
    color: white;
}

.hot-topic h2{
    padding: 10px 0;
    font-size: 18px;
    text-shadow: 0 0 2px black;
}

.hot-topic-content a{
    display: block;
    background: white;
    border: none;
    width: 95px;
    border-radius: 2px;
    text-align: center;
    padding: 7px 10px;
    font-size: 14px;
    margin: 10px 0 10px 10px;
}
.hot-topic-content a:hover{
    text-decoration: underline;
}

main a{
    padding: 15px 0;
    display: block;
    transition: all 0.5s;
}

main span{
    transition: padding-left 0.5;
}

main a:hover span{
    padding-left: 5px;
}

main a:hover{
    color: #7ac64d;
}

.container-left{
    padding: 30px 10px;

}

.container-left > h2{
    padding: 15px 0 15px 30px;
}

.container-left h3{
    padding: 10px 0;
    font-size: 18px;
    font-family: var(--heading);
}

.container-left article{
    padding: 10px;
}

.container-top-left{
    padding: 15px 30px;
}

.container-right{
    padding: 30px 10px;
}

.container-right > h2{
    padding: 15px 0 15px 30px;
}

.container-right article{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 15px 0;
    border-bottom: 1px solid #7ac64d;
}

.container-right article:last-child{
    border-bottom: none;
}

.container-right img{
    width: 100px;
    height: 100px;
    align-self: center;
}

.container-right h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    align-self: center;
}

.container-right article h2{
    font-size: 18px;
    padding: 10px 0 ;
    font-family: var(--heading);
}

.container-right article div{
    margin-right: 10px;
}

footer{
    background: cyan;
    color: white;
    padding: 30px;
}

footer h2{
    padding:10px 0;
}

footer p{
    padding: 10px 0;
    line-height: 1.3;
}

.left{
    margin: 0 20px;
}

footer > p{
    text-align: center;
    opacity: 0.8;
    margin-top: 20px;
}

.right i{
    font-size: 1.8rem;
    color: #808080;
}

.right input{
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
    color: #808080;
    padding-right: 10px;
    width: 100%;
}

.right div{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 200px;
    padding: 10px 0;
    border-bottom: 1.6px solid #808080;
}

@media(max-width: 460px){
    .hot-topic-content h2{
        font-size: 16px;
    }

    .container-right article{
        display: block;
    }
    .container-right article img{
        display: none;
    }
}

@media(max-width: 500px) {
    .container-right article{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
    }
    .container-right article h4{
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: flex-start;
    }
    .container-right article img{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .container-right article div{
        grid-row: 1/3;
        grid-column: 2/3;
    }  
}

@media(max-width: 768px) {
    .sub-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

}

@media(min-width: 800px){
    .navigation-container{
        display: flex;
        background: #252525;
        align-items: center;
        flex-wrap: wrap;
    }
    .top-head{
        flex: 0 0 15%;
    }
    .nav-bar{
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
    }
    .nav-bar nav ul{
        display: flex;
        justify-content: center;
    }
    .nav-bar nav ul li{
        padding-right: 30px;
    }
    .nav-bar nav ul li:hover{
        background: none;
    }
    .container{
        display: flex;
    }
    .left, .right{
        flex: 1;
    }
}

@media(min-width: 992px){
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1080px){
    .box{
        grid-template-columns: 1fr 2fr;
    }
}